<div class="main main-container">
	<div *ngIf="empresa" class="row col-md-12">
		<div class="row col-md-6">
			<div class="col-md-12">
				<h3>
					Nombre:
				</h3>
				<p>
					{{empresa.nombre}}
				</p>
			</div>
			<div class="col-md-12">
				<h3>
					Nombre comercial:
				</h3>
				<p>
					{{empresa.nombreComercial}}
				</p>
			</div>
			<div class="col-md-12">
				<h3>
					Descripción:
				</h3>
				<p>
					{{empresa.descripcion}}
				</p>
			</div>
			<div class="col-md-12">
				<h3>
					Actividad:
				</h3>
				<p>
					{{empresa.actividad}}
				</p>
			</div>
			<div class="col-md-12">
				<h3>
					Sector:
				</h3>
				<p>
					{{empresa.sector}}
				</p>
			</div>
			<div class="col-md-12">
				<h3>
					Fecha de alta:
				</h3>
				<p>
					{{empresa.fechaAlta | date}}
				</p>
			</div>
		</div>
		<div class="row col-md-6">
				<div class="col-md-12" style="text-align:right;">
					<img *ngIf="empresa" class="card-img-top img-fluid" [src]="empresa.img" [alt]="empresa.nombre">
				</div>
		</div>
    <div style="text-align:right;margin-bottom:30px;" class="col-md-12">
      <button type="button" [routerLink]="['/empresa','editar',empresa.id]"
       class="btn btn-outline-success"> Editar datos de la empresa</button>
    </div>
    <br>
		<div class="col-md-12">
			<h3>
				Los usuarios de la empresa se muestran en la siguiente tabla:
			</h3>
			<table *ngIf="empresa.usuarios" class="table">
			  <thead class="thead-inverse">
			    <tr>
			      <th>#</th>
			      <th>Usuario</th>
			      <th>Empleado</th>
			      <th>Cargo</th>
			      <th>Fecha alta</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let usuario of empresa.usuarios;let i = index">
			      <th scope="row">{{i+1}}</th>
			      <td>{{usuario.username}}</td>
			      <td>{{usuario.empleado.nombreCompleto}}</td>
			      <td>{{usuario.empleado.cargo}}</td>
			      <td>{{usuario.fechaAlta | date}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
    <div class="col-md-12">
      <button type="button" class="btn btn-outline-primary" (click)="cambiaMostrarJson()" >Mostrar/ocultar información de programación</button>
      <pre *ngIf="mostrarJson">{{empresa | json}}</pre>
    </div>
	</div>
</div>
