<h3>Editar empresa </h3>
<button [routerLink]="['/empresa']" type="button" class="btn btn-outline-danger">
Volver
</button>
<hr>
<div class="row" *ngIf="createForm&&createForm.controls">
  <div class="col-md-12" >
    <form (ngSubmit)="guardar(createForm.value)" [formGroup]="createForm">
       <div class="form-group" >
           <label>Nombre</label>
           <input [formControl]="createForm.controls[ 'nombre' ]"  type="text"
           class="form-control" placeholder="Nombre de la empresa" required>
       </div>
       <div class="form-group" >
           <label>Nombre</label>
           <input [formControl]="createForm.controls[ 'nombreComercial' ]"  type="text"
           class="form-control" placeholder="Nombre comercial de la empresa" required>
       </div>
       <div class="form-group" >
           <label>Sector</label>
           <input [formControl]="createForm.controls[ 'sector' ]" type="text"
           class="form-control" placeholder="Sector de la empresa" required>
       </div>
       <div class="form-group" >
           <label>Actividad</label>
           <input [formControl]="createForm.controls[ 'actividad' ]" type="text"
           class="form-control" placeholder="Actividad de la empresa" required>
       </div>
       <div class="form-group">
          <button [disabled]="!createForm.valid" type="submit" class="btn btn-outline-primary">Guarda cambios</button>
       </div>
    </form>
  </div>
</div>
